/.codepro
/.classpath
/.project
/.settings
/.gradle
/*.iws
/bin
build
.DS_Store
~*.xlsx
*.log
*.log.*
/target
/build
/nbproject/private/
manifest.mf
.nb-gradle-properties
.nb-gradle/
.gradletasknamecache
